.container {
    padding-inline: 1.75rem;
    padding-block: 1.75rem;
}

.title {
    font-family: Fredoka, sans-serif;
    font-size: 3rem;
}

.styledText {
    font-family: "Akaya Kanadaka";
    font-size: 1.2rem;
}

.heroText {
    color: white;
    font-family: Inter;
    font-size: 0.85rem;
    font-weight: bold;
}

.textContainer, .factsContainer {
    display: flex;
    flex-direction: column;
    gap: 0.45rem;
}