.contactBelt {
    color: #99A1AF;
    font-family: Inter, sans-serif;
    padding-inline: 18.75rem;
    padding-block: 1rem;
    background-color: #1B0D2265;
    border-bottom: 1px solid #6B0FA3;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

.lighterText {
    color: #777676;
}