.contactBelt {
    color: #99A1AF;
    font-family: Inter, sans-serif;
    padding-inline: 18.75rem;
    padding-block: 1rem;
    background-color: #1B0D2265;
    border-bottom: 1px solid #6B0FA3;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

.btnContainer {
    display: flex;
    align-items: center;
    gap: 0.45rem;
}

.lighterText {
    color: #777676;
}

@media screen and (max-width: 699px) {
    .contactBelt {
        padding-inline: 3rem;
        flex-direction: column;
    }
}

@media (min-width: 700px) {
    .contactBelt {
        padding-inline: 3rem;
    }
}