.btnStyle {
    padding: 0.313rem 2.938rem;
    border-radius: 0.45rem;
    border: none;
    display:flex;
    align-items: center;
    gap: 0.3rem;
    font-family: Inter, sans-serif;
    font-weight: 600;
}