form {
    padding: 3rem 1.75rem;
    background-color: #0D111980;
    font-family: Inter, sans-serif;
    color: #777676;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 2rem;
}

form h3 {
    color: #FD63B7;
    font-family: Merriweather, sans-serif;
    font-style: italic;
    text-align: center;
}

.signInHeading p {
    text-align: center;
}

.subContainer {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

label {
    display: flex;
    flex-direction: column;
    gap: 0.2rem;
}

label > div {
    background-color: #00000040;
    border: 1px solid #B336FF;
    border-radius: 0.35rem;
    padding: 0.25rem 0.4rem;
    display: flex;
    align-items: center;
    gap: 0.5rem;
    font-family: Inter;
}

input {
    font-size: 1rem;
    background-color: transparent;
    border: none;
    outline: none;
    color: #e5e7eb;
}

.noAccount {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    align-items: flex-end;
}
