.border {
  padding: 2px;
  border-radius: 12px;
}

.button {
  padding: 0.25rem 2.25rem;
  width: 100%;
  background-color: #00000020;
  color: rgb(180, 180, 180);
  border: none;
  border-radius: 10px;
  font-size: 0.85rem;
  cursor: pointer;
  align-self: flex-start;
}
