.border {
  padding: 2px; /* THIS is the border thickness */
  border-radius: 12px;
}

.button {
  padding: 0.45rem 2.25rem;
  width: 100%;
  background-color: #00000020;
  color: rgb(180, 180, 180);
  border: none;
  border-radius: 10px;
  font-size: 16px;
  cursor: pointer;
}
