* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: linear-gradient(107.56deg, #30004D 0%, #300046 50%, #1E004C 100%);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}
